
li {
    display: inline;
}

.windFormContainer {

  position: absolute;
  top: 80px;
  left: 300px;

  display: flex;
  flex-direction: row;
  width: 1000px;
  height: auto;
  background-color: #E6DBDA;

border: solid 1px red;
}

  .wineImgBox {
    width: 35%;
    height: auto;
    text-align: center;

 border: solid 1px brown;
  }
    .wineFormTitle {
      
      color: purple;
      font-size: 18px;
      font-weight: bold;
    }
    .largeWineImg {
      width: 300px;
      text-align: center;
    }


  .wineFormBox {
      width: 65%;
      text-align: center;
border: solid 1px lightgreen;
  }
    
    .inputContainer {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

      width: 70%;
border: solid blue
    }

    
      /* Column layout */
      .nameInputBox, .grapesInputBox, .regionInputBox {

        grid-column: 1/3;
        font-size: 14px;
        align-self: center;
      }
      .yearInputBox, .countryInputBox, .priceInputBox {

        grid-column: 3/5;
        font-size: 14px;
        align-self: center;
      }
      .descInputBox, .imgPathInputBox {

        grid-column: 1/5;
        font-size: 12px;
        align-self: center;
      }

      /* Row layout */
      .nameInputBox, .yearInputBox {
        grid-row: 1;
        margin: 20px;
      }
      .grapesInputBox, .countryInputBox {
        grid-row: 2;
      }
      .regionInputBox, .priceInputBox {
        grid-row: 3;
      }
      .descInputBox {
        grid-row: 4;
      }
      .imgPathInputBox {
        grid-row: 5;
      }

      

        .textInput {
          border: solid 1px #E6DBDA;
          border-radius: 5px;
          font-size: 14px;
          padding: 8px;
        }


      .updateButtonRow {
        grid-column: 1/5;
        grid-row: 6;

        margin: 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

      }




/*********************************************************************/

#wineRow {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */

border: solid 1px red;
}

.wineCard {
  display: inline-block;
  width: 250px;
  height: auto;

  text-align: center;
  border: solid 1px lightslategray;
}

  .wineName {
    color: plum;
    font-size: 14px;
    font-weight: bold;
  }

  .wineImg {
    width: 200px;
    height: "auto"

  }

  .wineDetail {
    color: lightslategray;
    font-size: 14px;
    font-weight: bold;
  }
